<p></p>
<div class="mx-auto clear-both rounded overflow-hidden border" style="max-width: 500px;"
    id="{{include.base_name}}_base_id">
    <canvas id="{{include.base_name}}_canvas_id"></canvas>
    <button type="button" class="btn btn-sm" id="{{include.base_name}}_stop_button_id">Start</button>
    <button type="button" class="btn btn-sm" id="{{include.base_name}}_reset_button_id">Reset</button>
    <script loading="lazy" src="{{site.baseurl}}/assets/scripts/{{include.path}}"></script>
</div>
<p></p>