<p></p>
<div class="mx-auto" style="max-width: 500px;" id="{{include.base_name}}_base_id">
    <div class="overflow-hidden border rounded">
        <button type="button" class="btn btn-sm" id="{{include.base_name}}_stop_button_id">Start</button>
        <button type="button" class="btn btn-sm" id="{{include.base_name}}_reset_button_id">Reset</button>
        <canvas class="d-flex align-items-end" id="{{include.base_name}}_canvas_id"></canvas>
        <div class="container">
            <div class="">
                <div class="row" id="{{include.base_name}}_add_space"></div>
            </div>
        </div>
        <script async src="{{site.baseurl}}/assets/scripts/{{include.path}}"></script>
    </div>
</div>
<p></p>